* * * * * /root/beegfs-state-node_exporter.sh
* * * * * /root/beegfs-capacity.sh /var/lib/node_exporter/textfile_collector/ thorium
* * * * * /root/beegfs-serverstats-node_exporter.sh /var/lib/node_exporter/textfile_collector/ mgmt thorium
* * * * * /root/beegfs-serverstats-node_exporter.sh /var/lib/node_exporter/textfile_collector/ meta thorium
* * * * * /root/beegfs-serverstats-node_exporter.sh /var/lib/node_exporter/textfile_collector/ storage thorium
* * * * * /root/beegfs-resync-node_exporter.sh meta 11 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/beegfs-resync-node_exporter.sh storage 101 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/beegfs-resync-node_exporter.sh storage 102 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/beegfs-resync-node_exporter.sh storage 103 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/beegfs-resync-node_exporter.sh storage 104 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/beegfs-resync-node_exporter.sh storage 105 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/beegfs-resync-node_exporter.sh storage 106 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/beegfs-resync-node_exporter.sh storage 107 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/beegfs-resync-node_exporter.sh storage 108 thorium /var/lib/node_exporter/textfile_collector/
* * * * * /root/run_stats_exporter.sh
